*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI','sans-serif';
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    min-height:100vh;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p{
    font: size 1.1rem;
    color: #ccc;
}

.candidates-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
    padding: 0 10px;
}

.candidate-card{
    text-decoration: none;
    transition: transform 0.3s ease;
}

.candidate-card:hover{
    transform: translateY(-8px);
}

.card-glass{
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255,0.1);
    border: 1px solid rgba(255, 255, 255,0.2);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: background 0.3s ease,box-shadow 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0,0.3);
    min-height: 250px;
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-glass:hover{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.card-glass img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 3px solid white;
}

.card-glass h2{
    font-size: 1.3rem;
    color: #fff;
}

.card-glass p{
    font-size: 1rem;
    color: #ccc;
}

.logo-bar{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
    background:transparent;
    border-bottom: none;
}
.logo-bar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    transition: transform 0.3s ease;
}

.logo-bar img:hover{
    transform: scale(1.1);
}
